
    body{
        background-color: white;
        color: red;
        text-align: center;
    }
     .centrar {
      text-align: center;
      margin-top: 20px; /* Opcional: ajusta el espacio superior según tus necesidades */
    }
